.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

nav {
	background-color:  #eaeded;
	text-align: right;
	margin: 0 0 0 0;
	padding: 0;
}

.greg {
	position: absolute;
	left: 35px;
	margin-top: 19px;
	font-size: 26px;
}

.navUl	{
	list-style: none;
	display: inline-block;
	font-size: 22px;
	padding-right: 16px;
}

.navLi {
	padding-right: 17px;
	display: inline-block;
}

body {
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
}

input {
	border: 1px solid black;
}